<template>
  <div>
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap>
        <v-flex v-for="(result, i) in randomResult" :key="i" xs12 md6 lg4 :id="'rot'+String(i)">
          <v-card @click="addAnimation(String(i))" flat>
            <v-card-text class="shake display-1 pa-4">{{ result }}</v-card-text>
            <v-card-actions>
              <v-btn disabled icon>
                <v-icon color="primary">mdi-content-copy</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon @click="speak(result)" color="primary">mdi-volume-high</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-snackbar bottom left v-model="snackbar" color="primary">
      <v-icon color="white">mdi-volume-high</v-icon>
      {{ currentSpeakingText }}
      <v-btn color="pink" flat></v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState(["randomResult"])
  },
  data() {
    return {
      effects: [
        "bounce",
        "flash",
        "pulse",
        "rubberBand",
        "shake",
        "swing",
        "tada",
        "wobble",
        "jello",
        "heartBeat",
        "bounceIn",
        "bounceInDown",
        "bounceInLeft",
        "bounceInRight",
        "bounceInUp",
        "bounceOut",
        "bounceOutDown",
        "bounceOutLeft",
        "bounceOutRight",
        "bounceOutUp",
        "fadeIn",
        "fadeInDown",
        "fadeInDownBig",
        "fadeInLeft",
        "fadeInLeftBig",
        "fadeInRight",
        "fadeInRightBig",
        "fadeInUp",
        "fadeInUpBig",
        "fadeOut",
        "fadeOutDown",
        "fadeOutDownBig",
        "fadeOutLeft",
        "fadeOutLeftBig",
        "fadeOutRight",
        "fadeOutRightBig",
        "fadeOutUp",
        "fadeOutUpBig",
        "flip",
        "flipInX",
        "flipInY",
        "flipOutX",
        "flipOutY",
        "lightSpeedIn",
        "lightSpeedOut",
        "rotateIn",
        "rotateInDownLeft",
        "rotateInDownRight",
        "rotateInUpLeft",
        "rotateInUpRight",
        "rotateOut",
        "rotateOutDownLeft",
        "rotateOutDownRight",
        "rotateOutUpLeft",
        "rotateOutUpRight",
        "slideInUp",
        "slideInDown",
        "slideInLeft",
        "slideInRight",
        "slideOutUp",
        "slideOutDown",
        "slideOutLeft",
        "slideOutRight",
        "zoomIn",
        "zoomInDown",
        "zoomInLeft",
        "zoomInRight",
        "zoomInUp",
        "zoomOut",
        "zoomOutDown",
        "zoomOutLeft",
        "zoomOutRight",
        "zoomOutUp",
        "hinge",
        "jackInTheBox",
        "rollIn",
        "rollOut"
      ],
      snackbar: false,
      currentSpeakingText: undefined
    };
  },
  methods: {
    speak(message) {
      var msg = new SpeechSynthesisUtterance(message);
      var voices = window.speechSynthesis.getVoices();
      msg.voice = voices[3];
      window.speechSynthesis.speak(msg);
      this.currentSpeakingText = `Speaking  \`${message}\` ..`;
      this.snackbar = true;
    },
    addAnimation(id) {
      animateCSS(
        `#rot${id}`,
        this.effects[Math.floor(Math.random() * this.effects.length)]
      );
    }
  },
  mounted() {
    window.animateCSS = function animateCSS(element, animationName, callback) {
      const node = document.querySelector(element);
      if (node) {
        node.classList.add("animated", animationName);
        function handleAnimationEnd() {
          node.classList.remove("animated", animationName);
          node.removeEventListener("animationend", handleAnimationEnd);
          if (typeof callback === "function") callback();
        }
        node.addEventListener("animationend", handleAnimationEnd);
      } else {
        console.warn(`Element \`${element}\` not yet loaded, sorry!`);
      }
    };
  }
};
</script>

