<template>
  <div>
    <v-toolbar fixed color="primary" dark>
      <v-toolbar-title class="headline text-uppercase">
        <span>App</span>
        <span class="font-weight-light">Name</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <!-- <v-btn flat href="https://github.com/vuetifyjs/vuetify/releases/latest" target="_blank">
        <span class="mr-2">Latest Release</span>
        <v-icon>open_in_new</v-icon>
      </v-btn>-->
    </v-toolbar>
    <br>
    <br>
    <br>
    <router-view/>
  </div>
</template>
